<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poducts Admin-Panel</title>

        <!-- Favicon -->
    <link href="assetAdmin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Libraries Stylesheet -->
    <link href="assetAdmin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="assetAdmin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="assetAdmin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="assetAdmin/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/admin" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">Admin</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="assetAdmin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jithin V Jolly</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link active"><i class="fa fa-laptop me-2"></i>Products</a>
                    </div>
                    <a href="/user-admin" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User</a>
                    <a href="/admin-order" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order</a>
                    <a href="/catagory-admin" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Category</a>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <%- include('include/_navbar') %>
            <!-- Navbar End -->

            <div>
                <a href="/addProduct"><button class="btn btn-success m-4">Add Products</button> </a>
            </div>

            <!-- table -->

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Products</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Product Category</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach((product,index) => { %>
                                            <tr>
                                                <th scope="row"> <%=index+1%> </th>
                                                <td><%= product.name %></td>
                                                <td><%= product.catagory %></td>
                                                <td><%= product.description %></td>
                                                <td><%= product.price %></td>
                                                <td><img src="<%= product.photo[0] %>" alt="" width="70px"></td>
                                                <td><a href="/update-products/<%= product._id %>"> <i class="fas fa-pencil-alt"></i></a></i></td>
                                                <td>
                                                    <% if(product.blocked) {%>
                                                        <a href="" onclick="comfirmUnblock(event,'<%= product._id %>','<%= product.name %>')" class="btn btn-success btn-sm border-shadow"  >
                                                            Unblock
                                                        </a>
                                                      <% } else { %>
                                                        <a href="" onclick="comfirmBlock(event,'<%= product._id %>','<%= product.name %>')" class="btn btn-danger btn-sm border-shadow">
                                                            Block 
                                                        </a>
                                                      <% } %>
                                                </td>
                                                  
                                            </tr>

                                        <% }) %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        function comfirmUnblock(event,userId,userName){
            event.preventDefault()

            swal({
                title: "Comfirmation",
                text:`Are you sure you want to unblock  ${userName}?`,
                icon:"warning",
                buttons:["Cancel", "unblock"],
                dangerMode:true
            }).then((comfirm) =>{
                if (comfirm) {
                    unblockUser(userId,userName)
                }
            })

        }

        function comfirmBlock(event,userId,userName){
            event.preventDefault()

            swal({
                title: "Comfirmation",
                text:`Are you sure you want to block  ${userName}?`,
                icon:"warning",
                buttons:["Cancel", "Block"],
                dangerMode:true
            }).then((comfirm) =>{
                if (comfirm) {
                    blockUser(userId,userName)
                }
            })

        }

        function unblockUser(userId,userName){
            $.ajax({
                url:`/unblock-Product/${userId}`,
                method:"PUT",
                success: ()=>{
                    swal("success",`${userName} unblocked successfully`, "success").then(()=>{
                        location.reload()
                    })
                },
                error: ()=>{
                    swal("Error", `Failed to unblock ${userName}`, "error")
                }
            })
        }

        function blockUser(userId,userName){
            $.ajax({
                url:`/block-Product/${userId}`,
                method:"PUT",
                success: ()=>{
                    swal("success",`${userName} blocked successfully`, "success").then(()=>{
                        location.reload()
                    })
                },
                error: ()=>{
                    swal("Error", `Failed to block ${userName}`, "error")

                }
            })

        }


    </script>

    <%- include('include/_footer') %>