<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poducts Admin-Panel</title>

        <!-- Favicon -->
    <link href="/assetAdmin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet"> 
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assetAdmin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assetAdmin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assetAdmin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assetAdmin/css/style.css" rel="stylesheet">


    <!-- new links -->


</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/admin" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">Admin</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="/assetAdmin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jithin V Jolly</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin" class="nav-item nav-link "><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="/products-admin" class="nav-link"><i class="fa fa-laptop me-2"></i>Products</a>
                    </div>
                    <a href="/user-admin" class="nav-item nav-link"><i class="fa fa-th me-2"></i>User</a>
                    <a href="/admin-order" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Order</a>
                    <a href="/catagory-admin" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Category</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <%- include('include/_navbar') %>
            <!-- Navbar End -->


            
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
            <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
            <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
            
            

   


    <style>
        .table-striped {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0.2)) !important;
            background-size: 20px 20px !important;
            background-position: 0 0, 10px 10px !important;
        }

        .date-filter-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
        }

        .date-filter-form label {
            margin-right: 10px;
        }

        .date-filter-form input[type="submit"] {
            margin-left: 10px;
        }
        .custom-button {
            background-color: coral;
            color: azure;

        }
    </style>

    <div class="row tm-content-row m-2 mt-3">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-xl-8">
                    <form action="/adminSalesReportFilter" method="post" class="date-filter-form">
                        <div class="row align-items-center">
                            <div class="col-md-4 col-sm-12 text-right mb-2">
                                <h5>Filter Orders</h5>
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="d-flex align-items-center">
                                    <div class="mr-3">
                                        <label for="fromDate">FROM:</label>
                                        <input type="date" value="newDate.[0]" name="fromdate" id="fromDate">
                                    </div>
                                    <div>
                                        <label for="toDate">TO:</label>
                                        <input type="date" value="newDate.[1]" name="todate" id="toDate">
                                    </div>
                                    <div>
                                        <input type="submit" value="Submit" class="btn-sm btn text-light" style="background-color: rgb(216, 149, 5) ;margin-top: 30px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
            <div class="tm-bg-primary tm-block tm-block-products">
                <div class="tm-product-table-container">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <table class="table table-bordered" style="width: 100%" id="productTable" >

                        <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">User Name</th>
                            <th scope="col">Products</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Payment Method</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% filteredOrders.forEach((order) => { %>
                        <tr>
                            <td>
                            <%= order.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                            <%= order._id %>
                            </td>
                            <td>
                            <%= order.user?.name %>
                            </td>
                            <td>
                                <% order.items.forEach((item) => { %>
                                <div>
                                    <%= item.product.name %>
                                </div>
                                <% }) %>
                                </td>
                            <td>
                            <% order.items.forEach((item) => { %>
                            <div>
                                <%= item.quantity %>
                            </div>
                            <% }) %>
                            </td>
                            <td>
                            <% order.items.forEach((item) => { %>
                            <div>
                                <%= item.price %>
                            </div>
                            <% }) %>
                            </td>
                            <td>
                            <%= order.payment_method %>
                            </td>
                        </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    
                </div>
                <!-- table container -->
            </div>
        </div>
    </div>



    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var productTable = document.getElementById('productTable');

            var dataTable = new DataTable(productTable, {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        className: 'text-danger'
                    },
                    {
                        extend: 'print',
                        className: 'text-danger'
                    },
                    {
                        extend: 'pdf',
                        className: 'text-danger'
                    }
                ]

            });
            });

    </script>

        
    
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include('include/_footer') %>