<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<body class="animsition">
	<%- include('include/_navbar') %>

	
	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">

				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>


			</div>

			<!-- ============ Main ============ -->



      <section class="page-header">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="content">
                     <h1 class="page-name">Checkout</h1>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <div class="page-wrapper mt-4">
         <div class="checkout shopping">
            <div class="container">
               <div class="row">
                  <div class="col-md-8">
                     <div class="block billing-details">
                        <form class="checkout-form" action="/order/<%= address._id %>" method="post">


						   <!-- hhshh -->
						   <div class="mb-5 border border-secondary  shadow rounded">
							
								<div class="p-3 p-lg-5">
									<h4 class="widget-title">Billing Address</h4>
								<% if(locals.address){%>
									<span><%= address.name %>,</span>
									<span> <%= address.address %>,</span>
									<span> <%= address.city %>,</span>
									<span> <%= address.state %>,</span>
									<span> Pin : <%= address.pincode %>,</span>
									
									<%} %>
									
								</div>
						
						  	</div>

							<!-- products -->
							<div class="shadow p-2 border border-secondary rounded">
								<h3 class="p-2">Ordered products</h3>
							<% cart.products.forEach(function(product) { %>
								
								<div class=" p-3">
									<div class="zab8Yh _10k93p">
										<div class="d-flex">
													<div class="CXW8mj" style="height: 112px; width: 112px;">
														<img loading="lazy" class="media-object img-thumbnail pull-left mt-4"  width="70px" alt="" src="/<%= product.productId.photo[0] %>">
													</div>
												</span></a>
											<div class="_3fSRat">
												<div class="_2-uG6-"><p><%= product.productId.name %></p></div>
												<div class="_20RCA6"> Quantity: <%= product.quantity %> </div>
												<div class="_3ZS8sw">
													<span class="price">₹&nbsp;  <%= product.productId.price %></span>
							
												<div class="_2zbf83">
													<ul>
														<li>
															<div class="_2pqhhf"> Delivery | <span><span>Free</span></span></div>
														</li>
													</ul>
													<ul class="_31bLAK"></ul>
												</div>
												<div class="d-flex">
													<span>Total: ₹</span>
												<div class="total price">
													<% var total=product.quantity * product.productId.price; %>
												   
												  <p id="product-total-price-<%= product.productId._id %>" class="item-total">
													  <%= total %>
												  </p>
												  
												</div>
												</div>
											</div>
											
										</div>

									</div>
								</div>
								</div>
								<hr>
							<% }); %>
							</div>

						   <div class="block mt-3 shadow p-5 me-4 rounded border border-secondary">
							<h2 class="section-title">Payment Methods</h2>
							<div class="wallet-pay">
								<button type="button" class="btn btn-primary" onclick="walletPay()">Use wallet</button>
                                <span id="wallet"></span>
                                <i id="wallet_remove" onclick="deleteWallet()"><span></span></i>
							</div>
							<div class="payment-methods mt-4">
							   <div class="payment-method">

								  <input class="payment-method-input" type="radio" name="payment" id="card-payment"
									 value="paypal">
								  <label class="payment-method-label" for="card-payment">
									 <span class="payment-method-icon"><i class="fab fa-cc-paypal"></i></i></span>
									 Paypal
								  </label>
							   </div>

							   <!-- <div class="payment-method">
								  <input class="payment-method-input" type="radio" name="payment"
									 id="razorpay-payment" value="razorpay">
								  <label class="payment-method-label" for="razorpay-payment">
									 <span class="payment-method-icon"><i class="fa fa-money"></i></span>
									 Razorpay
								  </label>
							   </div> -->
							   
							   <div class="payment-method">
								  <input class="payment-method-input" type="radio" name="payment" id="cod-payment"
									 value="COD">
								  <label class="payment-method-label" for="cod-payment">
									 <span class="payment-method-icon"><i class="fa fa-money"></i></span>
									 Cash on Delivery
								  </label>
							   </div>
							</div>
							
							<button class="btn btn-success" type="submit">Place Order</button>
						 </div>
						</form>
                        
                     </div>


					



                     <style>
                        .payment-methods {
                           display: flex;
                           flex-wrap: wrap;
                           justify-content: space-between;
                        }

                        .payment-method {
                           display: flex;
                           align-items: center;
                           margin-bottom: 10px;
                        }

                        .payment-method-input {
                           margin-right: 10px;
                        }

                        .payment-method-label {
                           display: flex;
                           align-items: center;
                           cursor: pointer;
                           font-weight: bold;
                        }

                        .payment-method-icon {
                           display: inline-block;
                           width: 30px;
                           /* height: 30px; */
                           line-height: 30px;
                           text-align: center;
                           background-color: #ccc;
                           border-radius: 50%;
                           margin-right: 10px;
                        }

                        .btn-main {
                           background-color: #555;
                           color: #fff;
                           padding: 10px 20px;
                           border-radius: 5px;
                           text-decoration: none;
                        }
                     </style>



                  </div>

                  <div class="col-md-4 border rounded shadow p-4 border border-secondary">
					<div class="product-checkout-details ">
					   <div class="block pt-3 pb-3">
						  <h4 class="widget-title mb-2 p-3">Order Summary</h4>
							 
								<div class="discount-code">
								   
								</div>
								<div class="card">
									<div class="card-body d-flex">
									   <form id="couponForm" action="/redeem_coupon" method="post" class="flex-grow-1">
										<p> <a href="" data-toggle="modal" data-target="#exampleModal">Available coupons</a></p>
										  <div class="form-group d-flex">
											
											 <label for="couponCode" class="mr-2">Coupon Code</label>

											 <input type="text" class="form-control" name="coupon"
												id="couponCode" placeholder="Enter the coupon code" required>


										  </div>
										  <!-- coupon message -->
										  <div id="couponMessage" style="padding-bottom: 10px; color: darkred;"></div>

										  <div id="couponMessage1" style="padding-bottom: 10px; color: rgb(7, 126, 13);"></div>

										   <!-- coupon message -->

										  <button type="button" onclick="redeem()"
											 class="btn btn-primary ml-auto"
											 style="margin-bottom: 30px;">Redeem</button>
											 
									   </form>
									</div>
								 </div>
								<ul class="summary-prices pt-3">
								   <li>
									  <span style="font-weight: bold;font-size: 15px;">Subtotal: ₹
									  </span>
									  
									  <span class="price" id="subtotal"></span>
								   </li>
								   <li>
									  <span style="font-weight: bold;font-size: 15px;">Shipping:</span>
									  <span>Free</span>
								   </li>
								   <li>
									<span style="font-weight: bold;font-size: 15px;">Coupon Discount: -</span>
									<span><%= cart.discount %></span>
								 	</li>
									<li>
										<span style="font-weight: bold;font-size: 15px;">Wallet: -</span>
										<span><%= cart.wallet %></span>
									</li>
								</ul>
								<hr>
								<div class="summary-total">
								   <span style="font-weight: bold;font-size: 30px;">Total: ₹ </span>
								   <span id="totalprice" style="font-weight: bold;font-size: 25px;"></span>
								
								</div>
								
								<p class="text-muted pt-5"><i class="fas fa-shield"></i> Safe and Secure Payments.Easy returns.Safe and Secure Payments.</p>
					   </div>
					</div>
				 </div>

                </div>

				  
               </div>
            </div>
         </div>
      </div>





      <!-- Modal -->
      <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
         <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
               <div class="modal-body">
                  <form>
                     <div class="form-group">
                        <input class="form-control" type="text" placeholder="Enter Coupon Code">
                     </div>
                     <button type="submit" class="btn btn-main">Apply Coupon</button>
                  </form>
               </div>
            </div>
         </div>
      </div>

	  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
	  <div class="modal-content">
		<div class="modal-header" style="text-align: center;">
		  <h2 class="modal-title" id="exampleModalLabel" style="font-weight: bold; color: black;">Available Coupon</h2>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		 
			<% coupon.forEach(element => { %>
				<% if (!(new Date(element.date) < new Date()) || element.status !== true) { %>
				  <p style="color: black; font-family: 'Times New Roman', Times, serif; font-weight: bolder;"><%= element.code %></p>
				<% } %>
			  <% }) %>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-main" data-dismiss="modal"  style="color:beige">Close</button>
	   
		</div>
	  </div>
	</div>
  </div>


            <!-- ============ Main ============ -->
 
        </div>
               
			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->
		
	</div>
		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- quick view setup -->
	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="assetUser/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="assetUser/images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="assetUser/images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="assetUser/images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	

    <script>

        const setSubtotal = () => {
           const itemTotal = document.getElementsByClassName('item-total')
           let subtotal = 0;
           for (let i = 0; i < itemTotal.length; i++) {

              subtotal += Number(itemTotal[i].innerHTML)
           }
           document.getElementById('subtotal').innerHTML = subtotal;
           document.getElementById('totalprice').innerHTML = subtotal;



        }
        setSubtotal();


    </script>
<!--===============================================================================================-->	
	<script src="/assetUser/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/bootstrap/js/popper.js"></script>
	<script src="/assetUser/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/daterangepicker/moment.min.js"></script>
	<script src="/assetUser/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/slick/slick.min.js"></script>
	<script src="/assetUser/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="/assetUser/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>

		<!--  reedem coupon -->

		<script>



			function redeem() {
			var formData = $('#couponForm').serialize();

			$.ajax({
				url: "/redeem_coupon",
				type: "POST",
				data: formData,
				success: function (response) {

					// Handle the response here

					handleCouponResponse(response);
				},
				error: function (xhr, status, error) {
					console.error('Coupon request failed. Status:', status);
				}
			});
			}

			function handleCouponResponse(response) {
			var couponMessage = document.getElementById('couponMessage');
			var couponCodeInput = document.getElementById('couponCode');
			var totalElement = document.getElementById('totalprice');

			if (couponCodeInput.value.trim() === '') {
				// Clear the message if the coupon code input is empty
				couponMessage.textContent = '';
				return;
			}

			if (response.success) {
				// Coupon is available, update the message and subtract the coupon value from the total
				var couponValue = response.amount;
				var total = parseFloat(totalElement.textContent);
				var updatedTotal = total - couponValue;
				totalElement.textContent = updatedTotal.toFixed(2); // Update the total with 2 decimal places
				couponMessage1.textContent = response.message; // Display the success message from the response
			} else {
				// Coupon is not available or there was an error
				couponMessage.textContent = response.message; // Display the error message from the response
			}
			}



		</script>

		<!-- wallet-pay -->

		<script>
			function walletPay(){

				$.ajax({
					url:'/wallet-pay',
					method:'PUT',
					success: (data)=>{
						if (data.success) {
							setNewTotal(data.wallet_balance)
						}else{
							console.log("wallet pay Error");
						}

					},
					error: (xhr, status, error) =>{
						console.error('Coupon request failed. Status:', status);
					}
				})

			}

			const setNewTotal = (walletBalance) => {
            const itemTotal = parseInt(document.getElementById('totalprice').innerHTML);
            console.log(itemTotal);

            let sum = (10 / 100) * itemTotal
            console.log(sum);

            if (walletBalance > sum) {
               newtotal = (itemTotal - sum)

            } else {
               return alert('wallet Amount insufficient')
            }

            document.getElementById('wallet').innerHTML = ` wallet amount - ${sum}`;
            document.getElementById('wallet_remove').innerHTML = `<i class="fa fa-times"></i>`;
            document.getElementById('wallet').style.display = 'block';
            document.getElementById('wallet_remove').style.display = 'inline';


            document.getElementById('totalprice').innerHTML = ` ${newtotal}`;
         }
		</script>
<!--===============================================================================================-->
	<script src="/assetUser/js/main.js"></script>

</body>
</html>