<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<body class="animsition">
	<%- include('include/_navbar') %>


		

	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">

				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>


			</div>

			<!-- ============ Main ============ -->


			<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
            <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
            <!------ Include the above in your HEAD tag ---------->

            <div class="card" id="invoice">
                <div class="card-body">
                  <div class="container mb-5 mt-3">
                    <div class="row d-flex align-items-baseline">
                      <div class="col-xl-9">
                        <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: <%= order._id %></strong></p>
                      </div>

                      <hr>
                    </div>
              
                    <div class="container">
                      <div class="col-md-12">
                        <div class="text-center">
                          <h1>Cricket Nation</h1>
                        </div>
              
                      </div>
              
              
                      <div class="row">
                        <div class="col-xl-8">
                          <ul class="list-unstyled">
                            <li class="text-muted">To: <span style="color:#0ba7d7 ;"><%= order.address.name %></span></li>
                            <li class="text-muted"><%= order.address.city %></li>
                            <li class="text-muted"><%= order.address.state %></li>
                            <li class="text-muted">Pin: <%= order.address.pincode %></li>
                            <li class="text-muted"><i class="fas fa-phone"></i> <%= order.address.mobile %></li>
                          </ul>
                        </div>
                        <div class="col-xl-4">
                          <p class="text-muted">Invoice</p>
                          <ul class="list-unstyled">
                            <li class="text-muted"><i class="fas fa-circle" style="color:#0ba7d7 ;"></i> <span
                                class="fw-bold">ID:</span>#<%= order._id %></li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#0ba7d7 ;"></i> <span
                                class="fw-bold">Creation Date: </span><%= order.createdAt.toLocaleDateString() %></li>
                            <li class="text-muted"><i class="fas fa-circle" style="color:#0ba7d7 ;"></i> <span
                                class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                                    <%= order.status %></span></li>
                          </ul>
                        </div>
                      </div>
              
                      <div class="row my-2 mx-1 justify-content-center">
                        <table class="table table-striped table-borderless">
                          <thead style="background-color:#0ba7d7 ;" class="text-white">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Qty</th>
                              <th scope="col">Unit Price</th>
                              <th scope="col">Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% order.items.forEach((item,index) => { %>
                                                
                                <tr>
                                    <td ><%= index+1 %></td>
                                    <td ><%= item.product.name %></td>
                                    <td class=""> <%= item.quantity %></td>
                                    <td class=""><%= item.price %></td>
                                    <% var total = item.quantity * item.price %>
                                    <td class="">₹<%= total %></td>
                                </tr>
                            
                            <% }) %>
            
                          </tbody>
              
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-xl-8">
                          <p class="ms-3">Add additional notes and payment information</p>
              
                        </div>
                        <div class="col-xl-3">
                          <p class="text-black float-start"><span class="text-black me-3"> <strong>Total Amount:  </strong> </span><span
                              style="font-size: 25px;">₹<%= order.total %></span></p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-xl-10">
                          <p>Thank you for your purchase</p>
                        </div>
                      </div>
              
                    </div>
                  </div>
                </div>
            </div>

            <div style="margin-left: 45%;" class="mb-4 mt-4">
                <button type="button" class="btn btn-primary" id="downloadPdf">Download Invoice</button>
            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
            <!-- PDF AND EXCEL -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
            <script>
                const button = document.getElementById('downloadPdf');

                function generatePDF() {
                    // Choose the element that your content will be rendered to.
                    const element = document.getElementById('invoice');
                    // Choose the element and save the PDF for your user.
                    html2pdf().set({
                        pagebreak: { mode: 'avoid-all' }, // Set pagebreak option to avoid splitting content
                        page: 'a4' // Set the page size to A4
                    }).from(element).save();
                }

                button.addEventListener('click', generatePDF);

                function export_data() {
                    let data = document.getElementById('invoice');
                    var fp = XLSX.utils.table_to_book(data, { sheet: 'arjun' });
                    XLSX.write(fp, {
                        bookType: 'xlsx',
                        type: 'base64'
                    });
                    XLSX.writeFile(fp, 'test.xlsx');
                }
            </script>






            <style>
				  @page {
						size: A4;
						margin: 0;
					}

					body {
						margin: 1.5cm;
						font-size: 14px;
					}

					.container {
						width: 100%;
						max-width: 100%;
					}
					.invoice-title h2, .invoice-title h3 {
						display: inline-block;
					}

					.table > tbody > tr > .no-line {
						border-top: none;
					}

					.table > thead > tr > .no-line {
						border-bottom: none;
					}

					.table > tbody > tr > .thick-line {
						border-top: 2px solid;
					}

            </style>

			

			<!-- ============ Main ============ -->

 
        </div>


		
        <%- include('include/_footer') %>
