<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
<body class="animsition">
	<%- include('include/_navbar') %>


	<!-- Cart -->
	<div class="wrap-header-cart js-panel-cart">
		<div class="s-full js-hide-cart"></div>

		<div class="header-cart flex-col-l p-l-65 p-r-25">
			<div class="header-cart-title flex-w flex-sb-m p-b-8">
				<span class="mtext-103 cl2">
					Your Cart
				</span>

				<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
					<i class="zmdi zmdi-close"></i>
				</div>
			</div>
			
			<div class="header-cart-content flex-w js-pscroll">
				<ul class="header-cart-wrapitem w-full">
					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-01.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								White Shirt Pleat
							</a>

							<span class="header-cart-item-info">
								1 x $19.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-02.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Converse All Star
							</a>

							<span class="header-cart-item-info">
								1 x $39.00
							</span>
						</div>
					</li>

					<li class="header-cart-item flex-w flex-t m-b-12">
						<div class="header-cart-item-img">
							<img src="assetUser/images/item-cart-03.jpg" alt="IMG">
						</div>

						<div class="header-cart-item-txt p-t-8">
							<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
								Nixon Porter Leather
							</a>

							<span class="header-cart-item-info">
								1 x $17.00
							</span>
						</div>
					</li>
				</ul>
				
				<div class="w-full">
					<div class="header-cart-total w-full p-tb-40">
						Total: $75.00
					</div>

					<div class="header-cart-buttons flex-w w-full">
						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							View Cart
						</a>

						<a href="/shoping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
							Check Out
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">

				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>


			</div>

			<!-- ============ Main ============ -->
			<section style="background-color: #f4f3f3;">
				<div class="container py-5">
				  <div class="row">
					<div class="col mb-4">
					  
						<ol class="breadcrumb mb-0">
						  <li class="breadcrumb-item"><a href="#">Home</a></li>
						  <li class="breadcrumb-item active" aria-current="page">User Profile</li>
						</ol>
					 
					</div>
				  </div>
			  
				  <div class="row">
					<div class="col-lg-4">
					  <div class="card mb-4 shadow border border-secondary">
						<div class="card-body text-center">
						  <h5 class="my-3"><%= userdetails.name %></h5>
						  <p class="text-muted mb-1"><%= userdetails.email %></p>
						  <i class="fas fa-location-dot"></i><p class="text-muted mb-4"><%= userdetails.address[0].address %>, <%= userdetails.address[0].city %>, <%= userdetails.address[0].state %></p>
						</div>
					  </div>

					  <div class="card mb-4 mb-lg-0 shadow border border-secondary">
						<div class="card-body p-0">
						  <ul class="list-group list-group-flush rounded-3">
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
							  <a href="/orders-details"><p class="mb-0">My Orders</p></a><i class="fas fa-box-open"></i>
							  
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
								<a href="/wishlist">My Wishlist</a><i class="fas fa-heart"></i>
							  
							</li>

							<li class="list-group-item d-flex justify-content-between align-items-center p-3">
							  
								<a href="/wallet"><p class="mb-0">Wallet</p></a><i class="fas fa-wallet"></i>
							  </li>
						  </ul>
						</div>
					  </div>

					</div>
					<div class="col-lg-8">
					  <div class="card mb-4">
						<div class="card-body shadow border border-secondary">
							<h3>User Profile</h3>
						  <div class="row mt-4">
							<div class="col-sm-3">
							  <p class="mb-0">Full Name</p>
							</div>
							<div class="col-sm-9">
							  <p class="text-muted mb-0"><%= userdetails.name %></p>
							</div>
						  </div>
						  <hr>
						  <div class="row">
							<div class="col-sm-3">
							  <p class="mb-0">Email</p>
							</div>
							<div class="col-sm-9">
							  <p class="text-muted mb-0"><%= userdetails.email %></p>
							</div>
						  </div>
						  <hr>
						  <div class="row">
							<div class="col-sm-3">
							  <p class="mb-0">Phone</p>
							</div>
							<div class="col-sm-9">
							  <p class="text-muted mb-0"><%= userdetails.mobile %></p>
							</div>
						  </div>
						  <hr>

						  
						  <div class="row">
						  </div>
						  <button data-bs-toggle="modal" data-bs-target="#exampleModal<%= userdetails._id %>" class="btn btn-success">Edit details</button>
						</div>
					  </div>
					  
					  
					  <!-- address -->
					  	<!-- address -->
						<div class="mt-3 shadow border border-secondary">
							<div class="d-flex m-3 p-3"> <h4>Addresses</h4>
								<span class="ml-3"><button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Address</button></span>
							</div>
							
							<div class=" mt-3 ml-3 pb-4">
								
									<% userdetails.address.forEach(function(address) { %>
										<div class="row">
										<div class="col-sm-4 border shadow rounded  ml-3 mb-2 " style="background-color: rgb(234, 237, 218);">
											<li>Name: <%= address.name %></li>
											<li>Address: <%= address.address %></li>
											<li>Phone: <%= address.mobile %></li>
											<li>Pin: <%= address.pincode %></li>
											<li>City: <%= address.city %></li>
											<li>State: <%= address.state %></li>
											
										</div>
										<div class="mt-3 ml-3 pb-4">
											<button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal<%= address._id %>">Edit</button>
											<a href="/delete-address/<%= address._id %>"><button type="button" class="btn btn-warning mb-2" >Delete</button></a>
										</div>
										</div>
										
									<% }); %>
								

							</div>
							
						</div>
					  <!-- address -->
					</div>

				  </div>
				</div>
			  </section>




			

			<!-- ============ Main ============ -->

 
        </div>
               
			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->
		
	</div>

	<div class="modal fade" id="exampleModal<%= userdetails._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-body">
				<form class="checkout-form" action="/update-userdetails/<%= userdetails._id %>" method="post" id="checkout-form">
					<div class="form-group">
						<label for="full_name">Full Name</label>
						<input type="text" name="name" class="form-control" id="full_name" placeholder="" value="<%= userdetails.name %>" required>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<textarea name="email" class="form-control" id="address" placeholder=""><%= userdetails.email %></textarea>
					</div>
					<div class="form-group">
						<label for="user_address">Phone Number</label>
						<input type="tel" name="mobile" class="form-control" id="user_address"
							placeholder="" value="<%= userdetails.mobile %>" required>
					</div>


					<div class="block">
						<div class="checkout-product-details">
							<div class="payment">
								<div class="card-details">
									<button type="submit" class="btn btn-main mt-20 btn-info">Update</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		  </div>
		</div>
	  </div>


	   <!-- Modal -->
  <% userdetails.address.forEach((address) => { %>
	<div class="modal fade" id="exampleModal<%= address._id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
		  <div class="modal-body">
			  <form class="checkout-form" action="/update-ProfileAddress/<%= address._id %>" method="post" id="checkout-form">
				  <div class="form-group">
					  <label for="full_name">Full Name</label>
					  <input type="text" name="name" class="form-control" id="full_name" placeholder="" value="<%= address.name %>" required>
				  </div>
				  <div class="form-group">
					  <label for="address">Address</label>
					  <textarea name="address" class="form-control" id="address" placeholder=""><%= address.address %></textarea>
				  </div>
				  <div class="form-group">
					  <label for="user_address">Phone Number</label>
					  <input type="tel" name="mobile" class="form-control" id="user_address"
						  placeholder="" value="<%= address.mobile %>" required>
				  </div>
				  <div class="checkout-country-code clearfix">
					  <div class="form-group">
						  <label for="user_post_code">Pin Code</label>
						  <input type="tel" class="form-control" id="user_post_code"
							  name="pincode" value="<%= address.pincode %>" required>
					  </div>
					  <div class="form-group">
						  <label for="user_city">City</label>
						  <input type="text" class="form-control" id="user_city"
							  name="city" value="<%= address.city %>" required>
					  </div>
				  </div>
				  <div class="form-group">
					  <label for="user_country">State</label>
					  <input type="text" name="state" class="form-control" id="user_country"
						  placeholder="" value="<%= address.state %>" required>
				  </div>
				  <div class="block">
					  <div class="checkout-product-details">
						  <div class="payment">
							  <div class="card-details">
								  <button type="submit" class="btn btn-main mt-20 btn-info">Update</button>
							  </div>
						  </div>
					  </div>
				  </div>
			  </form>
		  </div>
		</div>
	  </div>
	</div>
	<% }); %>

	<!-- modal -->

	<div class="modal fade m-t-40" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-body">
				<form class="checkout-form" action="/profileAddress-add" method="post" id="checkout-form">
					<div class="form-group">
						<label for="full_name">Full Name</label>
						<input type="text" name="name" class="form-control" id="full_name" placeholder="" required>
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<textarea name="address" class="form-control" id="address" placeholder="" required></textarea>
					</div>
					<div class="form-group">
						<label for="user_address">Phone Number</label>
						<input type="tel" name="mobile" class="form-control" id="user_address"
							placeholder="" required>
					</div>
					<div class="checkout-country-code clearfix">
						<div class="form-group">
							<label for="user_post_code">Pin Code</label>
							<input type="tel" class="form-control" id="user_post_code"
								name="pincode" value="" required>
						</div>
						<div class="form-group">
							<label for="user_city">City</label>
							<input type="text" class="form-control" id="user_city"
								name="city" value="" required>
						</div>
					</div>
					<div class="form-group">
						<label for="user_country">State</label>
						<input type="text" name="state" class="form-control" id="user_country"
							placeholder="" required>
					</div>
					<div class="block">
						<div class="checkout-product-details">
							<div class="payment">
								<div class="card-details">
									<button type="submit" class="btn btn-main mt-20 btn-info">Add Address</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		  </div>
		</div>
	  </div>
		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Bat
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Ball
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shoes
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Accessories
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						! Important
					</h4>

					<p class="stext-107 cl7 size-201">
						I am Jithin V Jolly,This is a Demo site Created by me as part of My Project, No products here are for Sales
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-01.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-02.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-03.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-04.png" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="assetUser/images/icons/icon-pay-05.png" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- quick view setup -->
	<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="assetUser/images/icons/icon-close.png" alt="CLOSE">
				</button>

				<div class="row">
					<div class="col-md-6 col-lg-7 p-b-30">
						<div class="p-l-25 p-r-30 p-lr-0-lg">
							<div class="wrap-slick3 flex-sb flex-w">
								<div class="wrap-slick3-dots"></div>
								<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

								<div class="slick3 gallery-lb">
									<div class="item-slick3" data-thumb="assetUser/images/product-detail-01.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-01.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-01.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="assetUser/images/product-detail-02.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-02.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-02.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>

									<div class="item-slick3" data-thumb="assetUser/images/product-detail-03.jpg">
										<div class="wrap-pic-w pos-relative">
											<img src="assetUser/images/product-detail-03.jpg" alt="IMG-PRODUCT">

											<a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="assetUser/images/product-detail-03.jpg">
												<i class="fa fa-expand"></i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6 col-lg-5 p-b-30">
						<div class="p-r-50 p-t-5 p-lr-0-lg">
							<h4 class="mtext-105 cl2 js-name-detail p-b-14">
								Lightweight Jacket
							</h4>

							<span class="mtext-106 cl2">
								$58.79
							</span>

							<p class="stext-102 cl3 p-t-23">
								Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
							</p>
							
							<!--  -->
							<div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>	
							</div>

							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->	
	<script src="assetUser/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/bootstrap/js/popper.js"></script>
	<script src="assetUser/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/select2/select2.min.js"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/daterangepicker/moment.min.js"></script>
	<script src="assetUser/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/slick/slick.min.js"></script>
	<script src="assetUser/js/slick-custom.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/parallax100/parallax100.js"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/sweetalert/sweetalert.min.js"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		});

		/*---------------------------------------------*/

		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script>
<!--===============================================================================================-->
	<script src="assetUser/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
<!--===============================================================================================-->
	<script src="assetUser/js/main.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</body>
</html>